/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha-Regular.ttf');
}

body,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.text-light {
  color: #d7ccc0;
}

.bg-light {
  background-color: #f5f4f0;
}

.text-orange {
  color: #fe8a02;
}

.text-primary-dark {
  color: #42413c;
}

.bg-primary-dark {
  background-color: #42413c;
}

.text-dark {
  color: #2a2626;
}

.text-brown {
  color: #b09a81;
}

.bg-brown {
  background-color: #b09a81;
}

.text-blue {
  color: #1085c5;
}

.primary-text {
  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.primary-text-white {
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

#premature-optimization h2 {
  margin-bottom: 0;

  font-size: 60px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.h1 {
  margin: 0;

  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.h2 {
  margin: 0;

  font-size: 60px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.h3 {
  margin: 0;

  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.h4 {
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
}

.padding-default {
  padding: 100px 0;
}

.bg-default-image {
  background-image: url("../images/bg-primary.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-image {
  position: absolute;
  top: 46px;
  right: -164px;

  height: 525px;
}

.flex {
  display: flex;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mr-30 {
  margin-right: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-30 {
  margin-top: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.w-540 {
  flex: 1 1 540px;
}

.w-350 {
  width: 350px;
}

.w-302 {
  width: 302px;
}

.header-text {
  margin-top: 185px;
}

.header-link {
  display: block;
  width: 148px;
  margin-top: 40px;
  margin-left: 570px;
  padding: 12px 0;

  font-weight: 700;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fe8a02;
}

.header-link:hover {
  background: #ea7600;
}

.text-align-center {
  text-align: center;
}

.video-caption {
  margin-bottom: 515px;
}

.video {
  position: absolute;
  top: 329px;
  left: 14%;

  border: none;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.deformations-list {
  padding: 200px 0 100px 0;
}

.deformations-caption {
  font-size: 52px;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.deformation {
  display: block;
  padding: 24px;

  text-decoration: none;
}

.number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.deformations-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.deformation:hover {
  background-color: #fe8a02;
}

.deformation:hover > .number,
.deformation:hover > .h3,
.deformation:hover > .primary-text {
  color: #fff;
}

.deformation-image {
  width: 578px;
  height: 434px;

  vertical-align: middle;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.deformations-dark {
  color: #908d8b;
  font-size: 24px;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.deformations-light {
  color: #d7ccc0;
  font-size: 24px;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}

.subscribe {
  width: 1000px;
  margin-bottom: 60px;
  padding: 40px 55px;
}

.subscribe-text {
  margin-top: 15px;
}

.label {
  display: block;
  margin-bottom: 10px;

  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.email-input {
  width: 385px;
  height: 20px;
  padding: 15px;
  border: none;
}

.email-input::placeholder {
  color: #757575;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;

  opacity: 0.2;
}

.submit {
  width: 70px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;

  background-color: #fe8a02;
  cursor: pointer;
}

.submit:hover {
  background-color: #ea7600;
}

.btn-wrapper::before {
  position: absolute;
  top: 30%;
  left: 30%;

  width: 25px;
  height: 25px;

  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  content: "";
}

.service-rules {
  color: #fff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.footer-text {
  color: #000;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
