/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Neucha';
  src: url('../../fonts/Neucha-Regular.ttf');
}

body, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.color-white {
  color: #fff;
}

.color-white-50 {
  color: #d7ccc0;
}

.color-light {
  color: #f5f4f0;
}

.color-primary {
  color: #fe8a02;
}

.color-primary-dark {
  color: #42413c;
}

.color-dark {
  color: #2a2626;
}

.color-dark-50 {
  color: #908d8b;
}

.color-brown {
  color: #b09a81;
}

.color-blue {
  color: #1085c5;
}

.primary-text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
  color: #2a2626;
}

.h1 {
  margin: 0;
  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.h2 {
  margin: 0;
  font-size: 60px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.h3 {
  margin: 0;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.padding-default {
  padding: 100px 0;
}

.bg-default-image {
  background-image: url("../../images/bg-primary.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.header-image {
  position: absolute;
  top: 46px;
  right: -164px;
  height: 525px;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mr-30 {
  margin-right: 30px;
}

.w-540 {
  width: 540px;
}

.header-text {
  margin-top: 185px;
}

.header-link {
  display: block;
  width: 148px;
  margin-top: 40px;
  margin-left: 570px;
  padding: 12px 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fe8a02;
}

.header-link:hover {
  background: #ea7600;
}
